// Quicksi also likes SASS, just like you do
html,body {
    height: 100%;
    overflow: hidden;
  }
  #container {
    height: 100%;
  }
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;align-items: center;
  justify-content: center;
  h1 {
    margin: 0;
    padding: 25px 0;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Slabo 27px';
  }
  
  button {
    text-transform: uppercase;
    background: none;
    color: #fff;
    border: 3px solid;
    padding: 15px 25px;
    &:focus {
      outline: none;
    }
    &:hover {
      letter-spacing: 2px;
    }
    transition: 300ms all ease-in-out;
  }
  
  
  }