/**
  IMPORTANT

  1. You should never commit this file to a public repository.

  4. Use API keys below for local development, but create a separate set of API keys for production use.

  5. All hosting providers allow you to configure environment variables.

  6. Rename this file to `.env` and update `dotenv.load` path in `app.js`.
 */

NODE_ENV=development

PORT=3000
MONGODB=mongodb://127.0.0.1:27017/graphqlseed
JWT_SECRET_KEY=Your@Key131

AWS_ACCESS_KEY=accessKey
AWS_SECRET_KEY=secretKey
AWS_S3_REGION=awsRegion
AWS_PROFILE_IMAGE_BUCKET=profileImageBucket
