@import './assets/stylesheets/index.scss';

.ui.primary.button {
  background: #0E71EB;
  color: #FFFFFF;
  border-radius: 24px;
  font-family: $font-stack;
  font-style: italic;
  font-weight: normal;
  font-size: 31px;
  line-height: 5px;
};
