$font-stack: 'Work Sans', sans-serif;
$primary-color: #0E71EB;
$secondary-color: #959595;
$article-border-color: #BDBDBD;

body {
    font-family: $font-stack;
}

.custom-center{
    text-align: center;
    color: #0E71EB;
}
