  
{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "indent": [2, 4],
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-unreachable": "warn",
        "no-unused-vars": "warn",
        "constructor-super": "warn",
        "valid-typeof": "warn",
        "comma-dangle": "off",
        "no-use-before-define": "off",
        "no-param-reassign": "off",
        "no-shadow": "off",
        "array-callback-return":"off",
        "padded-blocks": "off"
    }
}
